<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - IntegrationWithQuickbooks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/login.css">

</head>
<body>
    <header class="dashHeader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex" style="gap:1em;">
                <img src="~/images/pngwing.com.png" alt="Navlogo" class="navlogo"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-flex collapsed-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="AddVendor">DASHBOARD</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark d-flex justify-content-lg-end"asp-action="Initiateoauth2" asp-controller="App">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex m-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="dash">
        <!-- Sidebar-->
        <div class="border-end sidebar" id="sidebar-wrapper">
            @*<div class="sidebar-heading border-bottom bg-light">TASKS</div>*@
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="AddVendor">Add Vendor</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="AddAccount">Add Account</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="ViewVendor">View Vendor</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="viewaccount">View Account</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="AddPurchaseOrder">Add Purchase Order</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="ViewPurchaseOrder">View Purchase Order</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="AddItem">Add Item</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="Home" asp-action="ViewItem">View Item</a>
                <a class="list-group-item list-group-item-action sideBar" asp-controller="App" asp-action="GenBill">Generate Bill</a>
            </div>
        </div>
        <div class="dashbody">
            @RenderBody()
        </div>
        <!-- Page content wrapper-->

    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - IntegrationWithQuickbooks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
