@model QuickbookIntegration1.Models.account
@{
    ViewData["Title"] = "AddAccount";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1><i class="fa-sharp fa-solid fa-user-plus fa-lg" style="margin-right:1rem"></i>Add Account</h1>

<div class="flex-row mt-4" id="div2">

    <form method="post" asp-controller="Home" asp-action="AddAccount">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="AcctNum">Account No.</label>
            <input type="tel" class="form-control" id="AcctNum" asp-for="AcctNum">
        </div>
        <div class="form-group">
            <label for="AcctNum">Current Balance</label>
            <input type="tel" class="form-control" id="AcctNum" asp-for="CurrentBalance">
        </div>
        <button class="btn btn-primary"> Submit</button>
    </form>
    
</div>
<script src="vendorform.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
