@model QuickbookIntegration1.Models._Item
@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Add Item</h1>

<div class="flex-row mt-4" id="div2">

    <form method="post" asp-controller="Home" asp-action="AddItem">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="ApaccountRef">Select Account </label>
            <select class="form-control" id="Apaccountref" required asp-for="expenseaccref">
                <option value="">Select</option>
                @foreach (var item in ViewBag.Accountnames)
                {
                    <option value="@item.QBaccid">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="AcctNum">SKU</label>
            <input type="tel" class="form-control" id="AcctNum" asp-for="SKU">
        </div>
        <div class="form-group">
            <label for="AcctNum">Cost</label>
            <input type="tel" class="form-control" id="AcctNum" asp-for="cost">
        </div>
        <button class="btn btn-primary"> Submit</button>
    </form>

</div>