@model QuickbookIntegration1.Models.vendor
@{
    ViewData["Title"] = "AddVendor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@*<h1>Add Vendor</h1>*@

<div class="flex-row mt-4" id="div2" style="width:50%">
    <h1><i class="fa-sharp fa-solid fa-user-plus fa-lg" style="margin-right:1rem"></i>Add Vendor</h1>
    <form method="post"style="margin-top:1.5rem" asp-controller="Home" asp-action="AddVendor">

     @*   <div class="form-group">
            <label for="Id">ID : </label>
            <input type="text" class="form-control" Id="" required asp-for="Id">
        </div>*@
        <div class="form-group">
            <label for="check"></label>
            <input type="checkbox">
        </div>
        <div class="form-group">
            <label for="Email">Email </label>
            <input type="email" class="form-control" id="Email" asp-for="PrimaryEmailAddress">
        </div>

        <div class="form-group">
            <label for="Lastname">DisplayName</label>
            <input type="text" class="form-control" id="DisplayName" required asp-for="DisplayName">
        </div>

        <div class="form-group">
            <label for="Contact">Contact </label>
            <input type="tel" class="form-control" id="Contact" asp-for="OtherContactInfo">
        </div>

        <div class="form-group">
            <label for="GSTNo">GST No. </label>
            <input type="text" class="form-control" id="GSTNo" required asp-for="Gstin">
        </div>
        <div class="form-group">
            <label for="Bussiness Number">BussinessNumber </label>
            <input type="tel" class="form-control" id="Contact" required asp-for="BusinessNumber">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <script src="vendorform.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>













@*@model QuickbookIntegration1.Models.VendorList
@{
    ViewData["Title"] = "AddVendor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- Bootstrap core JS-->
@using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data" }))
{
    

<div class="flex-row" mt-4" id="div2">

    <form method="post" asp-controller="Home" asp-action="AddVendor">
        <div class="form-group">
            <label for="Suffix">Suffix </label>
            <select id="Suffix" name="Suffix">
                <option value="Mr">Mr.</option>
                <option value="Ms">Ms.</option>
                <option value="Mrs">Mrs.</option>
            </select>
        </div>

      

        <div class="form-group">
            <label for="Lastname">DisplayName : </label>
            <input type="text" class="form-control" id="DisplayName" required asp-for="DisplayName">
        </div>

        <div class="form-group">
            <label for="Email">Email : </label>
            <input type="email" class="form-control" id="Email" required asp-for="PrimaryEmailAddress">
        </div>

        <div class="form-group">
            <label for="PanID">Pan ID :</label>
            <input type="text" class="form-control" id="PanID" required asp-for="PanId">
        </div>

        <div class="form-group">
            <label for="GSTNo">GST No. : </label>
            <input type="text" class="form-control" id="GSTNo" required asp-for="Gstno">
        </div>

        <div class="form-group">
            <label for="Contact">Contact : </label>
            <input type="tel" class="form-control" id="Contact" required asp-for="Contact">
        </div>

        <div class="form-group">
            <label for="VendorBusiness">Vendor Business : </label>
            <select id="VendorBusiness"  asp-for="VendorBusiness">
                <option value="Clothing">Clothing</option>
                <option value="Electronics">Electronics</option>
                <option value="Grocery">Grocery</option>
            </select>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
    <script src="vendorform.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
}*@