@{
    ViewData["Title"] = "Home Page";
}

    <div class="content">
        <div class="container d-flex flex-column" style="gap:4em;">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img src="~/images/quickbooksLogo.png" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="row">
            <div class="col d-flex justify-content-center">
                    <div class="g-signin-button" style="border-radius:2cm">
                        <div class="icon-wrapper">
                            <img src="~/images/google.svg" alt="Google logo">
                        </div>
                        <a asp-controller="Home" asp-action="SignIn">
                            <span class="button-text">Sign in with Google</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>                      @*<form action="#" method="post">
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>

                                <input type="submit" value="Log In" class="btn btn-block btn-primary">*@

                                @*<span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>*@

                                @*<div class="social-login">
                                <a class="google" asp-controller="Home" asp-action="SignIn">
                                        <span class="icon-google mr-3"></span>
                                    </a>*@
                               @*  <div class="g-signin-button">
                                    <div class="icon-wrapper">
                                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
                                    </div>
                                    <a asp-controller="Home" asp-action="SignIn">
                                    <span class="button-text">Sign in with Google</span>
                                    </a>                                     
                                </div>
                            </form>*@
                      @*  </div>
                    </div>

                </div>

            </div>
        </div>
    </div>*@